@tailwind base;
@tailwind components;
@tailwind utilities;

/* PAGE BREAK & PRINT STYLING */
@media print {
  .no-print {
    display: none !important;
  }

  .page-break {
    page-break-after: always;
  }

  @page {
    size: landscape;
    margin: 1in;
  }
}
